.primary-selection-border-only {
    color: var(--selectionTextColor);
    border-color: var(--selectionBorderColor);
}



.unselected-item {
    color: #a0a0a0;
    border-color: var(--selectionBorderColor);

    &:hover {
        color: var(--hoverTextColor);
        background: var(--hoverColor);
    }
}



.secondary-selection-top:not(.primary-selection) {
    border-bottom: hidden;
    color: var(--secondarySelectionTextColor);
    background: var(--secondarySelectionFillColor);
    border-color: var(--secondarySelectionBorderColor);
    padding-bottom: var(--secondarySelectionBorderWidth);
}



.secondary-selection-middle:not(.primary-selection) {
    border-top: hidden;
    border-bottom: hidden;
    color: var(--secondarySelectionTextColor);
    background: var(--secondarySelectionFillColor);
    padding-top: var(--secondarySelectionBorderWidth);
    border-color: var(--secondarySelectionBorderColor);
    padding-bottom: var(--secondarySelectionBorderWidth);
}



.secondary-selection-bottom:not(.primary-selection) {
    border-top: hidden;
    color: var(--secondarySelectionTextColor);
    background: var(--secondarySelectionFillColor);
    padding-top: var(--secondarySelectionBorderWidth);
    border-color: var(--secondarySelectionBorderColor);
}




.secondary-selection-all:not(.primary-selection) {
    color: var(--secondarySelectionTextColor);
    background: var(--secondarySelectionFillColor);
    border-color: var(--secondarySelectionBorderColor);
}



.edited-item {
    outline: none;
    border-right: none;
    background: #202020;
}



.disabled-item {
    opacity: 0.2;
}




.edited-item-text {
    background: #2b2b2b;
    color: var(--editedItemTextColor);
    border-color: var(--secondarySelectionBorderColor);
}