<div #listContainer
     class="list-container"
     (scroll)="onScroll(listContainer)"
     (wheel)="onMouseWheel($event, listContainer)"
     (mousedown)="onListContainerMouseDown($event, listContainer)">

     <div *ngFor="let item of list"
          #htmlItem
          class="item"
          tabindex="-1"
          (dblclick)="onItemDoubleClick()"
          [style.height.px]="options.itemHeight"
          (mousedown)="onItemSelect(item, $event)"
          (contextmenu)="$event.preventDefault();"
          [style.borderWidth.px]="item.selected && item != selectedItem ?
                                  (item.secondarySelectionBorderWidth ? item.secondarySelectionBorderWidth : options.secondarySelectionBorderWidth) :
                                  (item.selectionBorderWidth ? item.selectionBorderWidth : options.selectionBorderWidth)"
          [ngClass]="{'edited-item': item == editedItem,
                      'disabled-item': editedItem && editedItem != item,
                      'secondary-selection-all': item.selectType == ItemSelectType.All,
                      'secondary-selection-top': item.selectType == ItemSelectType.Top,
                      'secondary-selection-middle': item.selectType == ItemSelectType.Middle,
                      'secondary-selection-bottom': item.selectType == ItemSelectType.Bottom,
                      'unselected-item': item == unselectedItem && ((options.showSelection && item.showSelection != false) || (!options.showSelection && item.showSelection)),
                      'primary-selection': item == selectedItem && item.selected && ((options.showSelection && item.showSelection != false) || (!options.showSelection && item.showSelection)),
                      'primary-selection-border-only': item == selectedItem && !item.selected && ((options.showSelection && item.showSelection != false) || (!options.showSelection && item.showSelection))}"
          [ngStyle]="{'cursor': item.cursor ? item.cursor : options.cursor}"
          [style]="'--textColor:' + (item.textColor ? item.textColor.toHex() : options.textColor!.toHex()) + ';' +
                   '--hoverColor:' + (item.hoverColor ? item.hoverColor.toHex() : options.hoverColor!.toHex()) + ';' +
                   '--hoverTextColor:' + (item.hoverTextColor ? item.hoverTextColor.toHex() : options.hoverTextColor!.toHex()) + ';' +
                   '--selectionTextColor:' + (item.selectionTextColor ? item.selectionTextColor.toHex() : options.selectionTextColor!.toHex()) + ';' +
                   '--selectionFillColor:' + (item.selectionFillColor ? item.selectionFillColor.toHex() : options.selectionFillColor!.toHex()) + ';' +
                   '--editedItemTextColor:' + (item.editedItemTextColor ? item.editedItemTextColor.toHex() : options.editedItemTextColor!.toHex()) + ';' +
                   '--selectionBorderColor:' + (item.selectionBorderColor ? item.selectionBorderColor.toHex() : options.selectionBorderColor!.toHex()) + ';' +
                   '--secondarySelectionBorderWidth:' + (item.secondarySelectionBorderWidth ? item.secondarySelectionBorderWidth: options.secondarySelectionBorderWidth) + 'px;' +
                   '--secondarySelectionTextColor:' + (item.secondarySelectionTextColor ? item.secondarySelectionTextColor.toHex() : options.secondarySelectionTextColor!.toHex()) + ';' +
                   '--secondarySelectionFillColor:' + (item.secondarySelectionFillColor ? item.secondarySelectionFillColor.toHex() : options.secondarySelectionFillColor!.toHex()) + ';' +
                   '--secondarySelectionBorderColor:' + (item.secondarySelectionBorderColor ? item.secondarySelectionBorderColor.toHex() : options.secondarySelectionBorderColor!.toHex()) + ';'">


          <div style="height: 26px; padding-right: 5px;"
               (mousedown)="checkboxDown = true"
               [style.marginLeft.px]="item.selected && item != selectedItem ?
                                     -(item.secondarySelectionBorderWidth ? item.secondarySelectionBorderWidth: options.secondarySelectionBorderWidth!) :
                                     -(item.selectionBorderWidth ? item.selectionBorderWidth: options.selectionBorderWidth!)"
               [style.paddingLeft.px]="options.indent"
               [style.marginRight.px]="-1">

               <checkbox [isDisabled]="editedItem ? true : false"
                         (checkboxChangedEvent)="onCheckboxChanged($event, item)"
                         [style.opacity]="editedItem && editedItem == item ? 0.2 : 1"
                         [options]="{containerHeight: 26, disabledOpacity: 1}">
               </checkbox>
          </div>



          <div #htmlItemText
               tabindex="-1"
               class="item-text"
               (mouseup)="getTextCaretPosition()"
               (mousedown)="getTextCaretPosition()"
               [contentEditable]="item == editedItem"
               (keydown.space)="getTextCaretPosition()"
               (keydown.arrowup)="getTextCaretPosition()"
               (keydown.arrowdown)="getTextCaretPosition()"
               (keydown.backspace)="getTextCaretPosition()"
               (keydown.arrowleft)="getTextCaretPosition()"
               (keydown.arrowRight)="getTextCaretPosition()"
               [style.lineHeight.px]="options.itemHeight! - 2"
               [ngClass]="{'edited-item-text': item == editedItem}"
               [style.fontSize.px]="item.fontSize ? item.fontSize : options.fontSize"
               [style.fontFamily]="item.fontFamily ? item.fontFamily : options.fontFamily">
                    {{item.text}}
          </div>
     </div>
</div>