<editable-list-content [list]="list"
                       [options]="options"
                       (addedItemEvent)="addedItemEvent.emit($event)"
                       (editedItemEvent)="editedItemEvent.emit($event)"
                       (pastedListEvent)="pastedListEvent.emit($event)"
                       (unselectedListEvent)="unselectedListEvent.emit()"
                       (deletedItemsEvent)="deletedItemsEvent.emit($event)"
                       (selectedItemsEvent)="selectedItemsEvent.emit($event)"
                       (pressedEnterKeyEvent)="pressedEnterKeyEvent.emit($event)"
                       (pressedDeleteKeyEvent)="pressedDeleteKeyEvent.emit($event)"
                       (pressedEscapeKeyEvent)="pressedEscapeKeyEvent.emit($event)"
                       (rightClickedItemEvent)="rightClickedItemEvent.emit($event)"
                       (requestedPageLoadEvent)="requestedPageLoadEvent.emit($event)"
                       (requestedItemCaseTypeEvent)="requestedItemCaseTypeEvent.emit($event)">

     <ng-template #template
                  let-item="referenceItem"
                  let-selectedItem="referenceSelectedItem">

          <div [style.paddingLeft.px]="options.indent"
               [style.marginLeft.px]="item.selected && item != selectedItem ?
                                    -(item.secondarySelectionBorderWidth ? item.secondarySelectionBorderWidth: options.secondarySelectionBorderWidth!) :
                                    -(item.selectionBorderWidth ? item.selectionBorderWidth: options.selectionBorderWidth!)">
               
          </div>
     </ng-template>
</editable-list-content>