.list-container {
    height: 100%;
    overflow-y: auto;
}



.item {
    height: 26px;
    display: flex;
    outline: none;
    color: #a0a0a0;
    user-select: none;
    align-items: center;
    border: 1px solid transparent;

    &:hover:not(.edited-item):not(.unselected-item):not(.primary-selection):not(.secondary-selection-all):not(.secondary-selection-top):not(.secondary-selection-middle):not(.secondary-selection-bottom):not(.primary-selection-border):not(.disabled-item) {
        color: lighten(#a0a0a0, 24);
        background: rgba(var(--r), var(--g), var(--b), 0.03);
    }
}



.edited-item {
    outline: none;
    color: lighten(#a0a0a0, 24);
    border-right: none;
    background: #202020;
    border-color: transparent;
}



.unselected-item {
    color: #a0a0a0;
    border-color: rgba(var(--r), var(--g), var(--b), 0.851);

    &:hover {
        color: lighten(#a0a0a0, 20);
        background: rgba(var(--r), var(--g), var(--b), 0.03);
    }
}



.primary-selection {
    color: lighten(#a0a0a0, 38);
    background: rgba(var(--r), var(--g), var(--b), 0.1);
    border-color: rgba(var(--r), var(--g), var(--b), 0.85);
}



.secondary-selection-all:not(.primary-selection) {
    color: lighten(#a0a0a0, 18);
    background: rgba(var(--r), var(--g), var(--b), 0.05);
    border-color: rgba(var(--r), var(--g), var(--b), 0.25);
}



.secondary-selection-top:not(.primary-selection) {
    color: lighten(#a0a0a0, 18);
    background: rgba(var(--r), var(--g), var(--b), 0.05);
    border-top-color: rgba(var(--r), var(--g), var(--b), 0.25);
    border-left-color: rgba(var(--r), var(--g), var(--b), 0.25);
    border-right-color: rgba(var(--r), var(--g), var(--b), 0.25);
}



.secondary-selection-middle:not(.primary-selection) {
    color: lighten(#a0a0a0, 18);
    background: rgba(var(--r), var(--g), var(--b), 0.05);
    border-left-color: rgba(var(--r), var(--g), var(--b), 0.25);
    border-right-color: rgba(var(--r), var(--g), var(--b), 0.25);
}



.secondary-selection-bottom:not(.primary-selection) {
    color: lighten(#a0a0a0, 18);
    background: rgba(var(--r), var(--g), var(--b), 0.05);
    border-left-color: rgba(var(--r), var(--g), var(--b), 0.25);
    border-right-color: rgba(var(--r), var(--g), var(--b), 0.25);
    border-bottom-color: rgba(var(--r), var(--g), var(--b), 0.25);
}



.primary-selection-border-only {
    color: lighten(#a0a0a0, 38);
    border-color: rgba(var(--r), var(--g), var(--b), 0.85);
}



.disabled-item {
    opacity: 0.2;
}



.item-text {
    width: 100%;
    height: 26px;
    display: flex;
    outline: none;
    background: none;
    margin-top: -1px;
    line-height: 22px;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0);
}



.indent {
    flex-shrink: 0;
}



.edited-item-text {
    background: #2b2b2b;
    border-color: rgba(var(--r), var(--g), var(--b), 0.25);
}