<div #listContainer
     class="list-container"
     (scroll)="onScroll(listContainer)"
     (wheel)="onMouseWheel($event, listContainer)">

     <div *ngFor="let item of list"
          #htmlItem
          class="item"
          tabindex="-1"
          [style.height.px]="options.itemHeight"
          (mousedown)="onItemSelect(item, $event)"
          (contextmenu)="$event.preventDefault();"
          [ngClass]="{'primary-selection': item == selectedItem}"
          [ngStyle]="{'cursor': item.cursor ? item.cursor : options.cursor}"
          [style]="'--textColor:' + (item.textColor ? item.textColor.toHex() : options.textColor!.toHex()) + ';' +
                   '--hoverColor:' + (item.hoverColor ? item.hoverColor.toHex() : options.hoverColor!.toHex()) + ';' +
                   '--hoverTextColor:' + (item.hoverTextColor ? item.hoverTextColor.toHex() : options.hoverTextColor!.toHex()) + ';' +
                   '--selectionBorderWidth:' + (item.selectionBorderWidth ? item.selectionBorderWidth: options.selectionBorderWidth) + 'px;' +
                   '--selectionTextColor:' + (item.selectionTextColor ? item.selectionTextColor.toHex() : options.selectionTextColor!.toHex()) + ';' +
                   '--selectionFillColor:' + (item.selectionFillColor ? item.selectionFillColor.toHex() : options.selectionFillColor!.toHex()) + ';' +
                   '--indent:' + (options.indent! - ((item.selectionBorderWidth ? item.selectionBorderWidth : options.selectionBorderWidth!) + 1)) + 'px;' +
                   '--selectionBorderColor:' + (item.selectionBorderColor ? item.selectionBorderColor.toHex() : options.selectionBorderColor!.toHex()) + ';'">

          <ng-container *ngTemplateOutlet="content; context:{value:item}"></ng-container>

          <div #htmlItemText
               tabindex="-1"
               class="item-text"
               [style.lineHeight.px]="options.itemHeight! - 2"
               [style.fontSize.px]="item.fontSize ? item.fontSize : options.fontSize"
               [style.fontFamily]="item.fontFamily ? item.fontFamily : options.fontFamily">
               {{item.text}}
          </div>
     </div>
</div>