.list-container {
    height: 100%;
    overflow-y: auto;
    position: relative;
}



.item {
    display: flex;
    outline: none;
    user-select: none;
    align-items: center;
    color: var(--textColor);
    border: solid transparent;

    &:hover:not(.edited-item):not(.unselected-item):not(.primary-selection):not(.secondary-selection-all):not(.secondary-selection-top):not(.secondary-selection-middle):not(.secondary-selection-bottom):not(.primary-selection-border):not(.disabled-item) {
        color: var(--hoverTextColor);
        background: var(--hoverColor);
    }
}






.primary-selection {
    color: var(--selectionTextColor);
    background: var(--selectionFillColor);
    border-color: var(--selectionBorderColor);
}




.item-text {
    width: 100%;
    outline: none;
    background: none;
    // margin-top: -1px;
    overflow: hidden;
    white-space: nowrap;
    border: 1px solid rgba(0, 0, 0, 0);
}