<div #listContainer
     class="list-container"
     (mousedown)="onListMouseDown($event)">

     <div *ngFor="let item of list"
          #htmlItem
          class="item"
          tabindex="-1"
          (dblclick)="onItemDoubleClick()"
          (mousedown)="onItemDown(item, $event)"
          (contextmenu)="$event.preventDefault()"
          [ngClass]="{'edited-item': item == editedItem,
                      'unselected-item': item == unselectedItem,
                      'primary-selection': item == selectedItem && item.selected,
                      'secondary-selection-all': item.selectType == SelectType.All,
                      'secondary-selection-top': item.selectType == SelectType.Top,
                      'secondary-selection-middle': item.selectType == SelectType.Middle,
                      'secondary-selection-bottom': item.selectType == SelectType.Bottom,
                      'disabled-item': (editedItem && editedItem != item) || item.disabled,
                      'primary-selection-border-only': item == selectedItem && !item.selected}"
          [style]="'--textColorR:' + (item.textColor ? Color.hexToRGB(item.textColor!).r : Color.hexToRGB(options.textColor!).r) + ';' + 
                   '--textColorG:' + (item.textColor ? Color.hexToRGB(item.textColor!).g : Color.hexToRGB(options.textColor!).g) + ';' +
                   '--textColorB:' + (item.textColor ? Color.hexToRGB(item.textColor!).b : Color.hexToRGB(options.textColor!).b) + ';' +
                   '--hoverColorR:' + (item.hoverColor ? Color.hexToRGB(item.hoverColor!).r : Color.hexToRGB(options.hoverColor!).r) + ';' + 
                   '--hoverColorG:' + (item.hoverColor ? Color.hexToRGB(item.hoverColor!).g : Color.hexToRGB(options.hoverColor!).g) + ';' +
                   '--hoverColorB:' + (item.hoverColor ? Color.hexToRGB(item.hoverColor!).b : Color.hexToRGB(options.hoverColor!).b) + ';' +
                   '--selectionColorR:' + (item.selectionColor ? Color.hexToRGB(item.selectionColor!).r : Color.hexToRGB(options.selectionColor!).r) + ';' + 
                   '--selectionColorG:' + (item.selectionColor ? Color.hexToRGB(item.selectionColor!).g : Color.hexToRGB(options.selectionColor!).g) + ';' +
                   '--selectionColorB:' + (item.selectionColor ? Color.hexToRGB(item.selectionColor!).b : Color.hexToRGB(options.selectionColor!).b) + ';'">

          <div class="indent"
               [style.width.px]="options.indent! - 2">
          </div>
     
          <div #htmlItemText
               tabindex="-1"
               class="item-text"
               [contentEditable]="item == editedItem"
               [ngClass]="{'edited-item-text': item == editedItem}">
               {{item.text}}
          </div>
     </div>
</div>