.list-container {
    height: 100%;
    overflow-y: auto;
    position: relative;
}



.item {
    display: flex;
    outline: none;
    user-select: none;
    align-items: center;
    border: 1px solid transparent;
    color: rgb(var(--textColorR), var(--textColorG), var(--textColorB));

    &:hover:not(.edited-item):not(.unselected-item):not(.primary-selection):not(.secondary-selection-all):not(.secondary-selection-top):not(.secondary-selection-middle):not(.secondary-selection-bottom):not(.primary-selection-border):not(.disabled-item) {
        background: rgba(var(--hoverColorR), var(--hoverColorG), var(--hoverColorB), 0.03);
        color: rgb(calc(var(--textColorR) + 50), calc(var(--textColorG) + 50), calc(var(--textColorB) + 50));
    }
}



.edited-item {
    outline: none;
    border-right: none;
    background: #202020;
    border-color: transparent;
    color: rgb(calc(var(--textColorR) + 61), calc(var(--textColorG) + 61), calc(var(--textColorB) + 61));
}



.unselected-item {
    color: #a0a0a0;
    border-color: rgba(var(--selectionColorR), var(--selectionColorG), var(--selectionColorB), 0.851);

    &:hover {
        background: rgba(var(--hoverColorR), var(--hoverColorG), var(--hoverColorB), 0.03);
        color: rgb(calc(var(--textColorR) + 46), calc(var(--textColorG) + 46), calc(var(--textColorB) + 46));
    }
}



.primary-selection {
    background: rgba(var(--selectionColorR), var(--selectionColorG), var(--selectionColorB), 0.1);
    border-color: rgba(var(--selectionColorR), var(--selectionColorG), var(--selectionColorB), 0.85);
    color: rgb(calc(var(--textColorR) + 95), calc(var(--textColorG) + 95), calc(var(--textColorB) + 95));
}



.secondary-selection-all:not(.primary-selection) {
    background: rgba(var(--selectionColorR), var(--selectionColorG), var(--selectionColorB), 0.05);
    border-color: rgba(var(--selectionColorR), var(--selectionColorG), var(--selectionColorB), 0.25);
    color: rgb(calc(var(--textColorR) + 46), calc(var(--textColorG) + 46), calc(var(--textColorB) + 46));
}



.secondary-selection-top:not(.primary-selection) {
    background: rgba(var(--selectionColorR), var(--selectionColorG), var(--selectionColorB), 0.05);
    color: rgb(calc(var(--textColorR) + 46), calc(var(--textColorG) + 46), calc(var(--textColorB) + 46));
    border-top-color: rgba(var(--selectionColorR), var(--selectionColorG), var(--selectionColorB), 0.25);
    border-left-color: rgba(var(--selectionColorR), var(--selectionColorG), var(--selectionColorB), 0.25);
    border-right-color: rgba(var(--selectionColorR), var(--selectionColorG), var(--selectionColorB), 0.25);
}



.secondary-selection-middle:not(.primary-selection) {
    background: rgba(var(--selectionColorR), var(--selectionColorG), var(--selectionColorB), 0.05);
    color: rgb(calc(var(--textColorR) + 46), calc(var(--textColorG) + 46), calc(var(--textColorB) + 46));
    border-left-color: rgba(var(--selectionColorR), var(--selectionColorG), var(--selectionColorB), 0.25);
    border-right-color: rgba(var(--selectionColorR), var(--selectionColorG), var(--selectionColorB), 0.25);
}



.secondary-selection-bottom:not(.primary-selection) {
    background: rgba(var(--selectionColorR), var(--selectionColorG), var(--selectionColorB), 0.05);
    color: rgb(calc(var(--textColorR) + 46), calc(var(--textColorG) + 46), calc(var(--textColorB) + 46));
    border-left-color: rgba(var(--selectionColorR), var(--selectionColorG), var(--selectionColorB), 0.25);
    border-right-color: rgba(var(--selectionColorR), var(--selectionColorG), var(--selectionColorB), 0.25);
    border-bottom-color: rgba(var(--selectionColorR), var(--selectionColorG), var(--selectionColorB), 0.25);
}



.primary-selection-border-only {
    border-color: rgba(var(--selectionColorR), var(--selectionColorG), var(--selectionColorB), 0.85);
    color: rgb(calc(var(--textColorR) + 95), calc(var(--textColorG) + 95), calc(var(--textColorB) + 95));
}



.disabled-item {
    opacity: 0.2;
}



.item-text {
    width: 100%;
    outline: none;
    background: none;
    margin-top: -1px;
    overflow: hidden;
    white-space: nowrap;
    border: 1px solid rgba(0, 0, 0, 0);
}



.indent {
    flex-shrink: 0;
}



.edited-item-text {
    background: #2b2b2b;
    border-color: rgba(var(--selectionColorR), var(--selectionColorG), var(--selectionColorB), 0.25);
}