<div style="display: flex; margin: 15px 0 30px 5px;">
      <button style="margin-right: 20px;" (click)="addItem()" (mousedown)="$event.stopPropagation()">Add Item</button>
      <button style="margin-right: 20px;" (click)="editItem()" (mousedown)="$event.stopPropagation()">Edit Item</button>
      <button style="margin-right: 20px;" (click)="deleteItem()" (mousedown)="$event.stopPropagation()">Delete Item</button>
      <button style="margin-right: 20px;" (click)="updateItem()" (mousedown)="$event.stopPropagation()">Update Item</button>
</div>


<div style="display: flex;">
      <div style="width: 300px; height: 260px; margin-right: 100px; background: rgb(51, 51, 51);">
            <editable-list #editableList
                  [list]="managerList"
                  [options]="managerListOptions"
                  (addedItemEvent)="onAddedItem($event)"
                  (editedItemEvent)="onEditedItem($event)"
                  (pastedListEvent)="onPastedList($event)"
                  (unselectedListEvent)="onUnselectedList()"
                  (deletedItemsEvent)="onDeletedItems($event)"
                  (selectedItemsEvent)="onSelectedItems($event)"
                  (pressedEnterKeyEvent)="onPressedEnterKey($event)"
                  (pressedDeleteKeyEvent)="onPressedDeleteKey($event)"
                  (rightClickedItemEvent)="onRightClickedItem($event)"
                  (requestedPageLoadEvent)="onRequestedPageLoad($event)"
                  (requestedItemCaseTypeEvent)="onRequestedItemCaseType($event)">
            </editable-list>
      </div>

      <div style="width: 300px; height: 220px; background: rgba(22, 22, 22, 0.945);">
            <list #list
                  [list]="websiteList"
                  [options]="websiteListOptions"
                  (selectedItemsEvent)="onSelectedItems($event)"
                  (pressedEnterKeyEvent)="onPressedEnterKey($event)"
                  (requestedPageLoadEvent)="onRequestedPageLoad($event)">
            </list>
      </div>
</div>